$bracket-base: 10px;
$bracket: #999;

.region {
  @include font-size(1.1);
}

.region-left {
  .slot {
    border-bottom: 1px solid $bracket;
    padding: $bracket-base * .5;
    position: relative;
    &:nth-child(even) {
      border-right: 1px solid $bracket;
    }
  }  
}

.region-right {
  width: 100%;

  .round-4,
  .round-8,
  .round-16,
  .round-32,
  .round-64 {
    float: right;
  }  
  .slot {
    border-bottom: 1px solid $bracket;
    padding: $bracket-base * .5;
    position: relative;
    &:nth-child(even) {
      border-left: 1px solid $bracket;
    }
  }
  .round-64 {
    .slot {
      padding-right: 0;
      position: relative;
      text-align: right;
      right: 0;
    }
  }
}

.finals {
  @extend %round;
  width: 30%
}

.championship {
  float: left;
  width: 44%;
  
  .champion {
    text-align: center;
    margin-top: 50px;
  }
  
  .slot {
    border-bottom: 1px solid $bracket;
    height: 130px;
    padding: 5px;
    position: relative;
    
    &.champion-left {
      margin-top: 87px;
      width: 90%;
    }
    
    &.champion-right {
      float: right;
      width: 90%;
    }
  }

}

%round {
  float: left;
}

.round-4,
.round-8,
.round-16,
.round-32 {
  @extend %round;
  @include font-size(1.4);
  width: 28%;
}

.round-64 {
  @extend %round;
  width: 16%;
  
  .slot {
    padding: 5px 0;
  }
}

.round-32 {
  .slot {
    height: 32px;
    
    &:nth-child(even) {
      margin-bottom: 10px;
      height: 46px;
    }
  }  
}

.round-16 {
  .slot {
    height: 55px;
    
    &:nth-child(even) {
      height: 90px;
      margin-bottom: 30px;
    }
  }  
}

.round-8 {
  .slot {
    height: 100px;
    
    &:nth-child(even) {
      height: 175px;
    }
  }  
}

.round-4 {
  .slot {
    height: 185px;

    &:nth-child(even) {
      height: 375px;
    }
  }  
}

.side-right,
.side-left {
  float: left;
  width: 35%;
}

.region {
  @extend .cf;
}