<div>
  <pre>{{user.twitter.displayName}}'s Bracket</pre>
  <div class="side-left">
    
    <div class="region region-left">
      <span ng-repeat="round in bracket.south" ng-class="getRoundClass($index)">
        <div class="game" ng-repeat="game in round">
          <ab-render-game></ab-render-game>
        </div>
      </span>
    </div>
    
    <div class="region region-left">
      <span ng-repeat="round in bracket.east" ng-class="getRoundClass($index)">
        <div class="game" ng-repeat="game in round">
          <ab-render-game></ab-render-game>
        </div>
      </span>
    </div>
  
  </div>

  <div class="finals">
    <div class="region-left">
      <span class="round-4">
        <div class="game">
          <div class="slot">
            <div class="teams">
              <div class="team" ng-click="makePick('team1', finalsLeft)">
                {{finalsLeft.team1}}
              </div>
            </div>
          </div>
          <div class="slot">
            <div class="teams">
              <div class="team" ng-click="makePick('team2', finalsLeft)">
                {{finalsLeft.team2}}
              </div>
            </div>
          </div>  
        </div>
      </span>
    </div>  
  
    <div class="championship">
      <div class="champion">
        <h5>
          Champion
        </h5>
        &nbsp;
        {{championship.winnerId}}
      </div>
      <div class="slot champion-left">
        <div class="teams">
          <div class="team" ng-click="makePick('team1', championship)">
            {{championship.team1}}
          </div>
        </div>
      </div>
      <div class="slot champion-right">
        <div class="teams">
          <div class="team" ng-click="makePick('team2', championship)">
            {{championship.team2}}
          </div>
        </div>
      </div>
    </div>
  
    <div class="region-right">
      <span class="round-4">
        <div class="game">
          <div class="slot">
            <div class="teams">
              <div class="team" ng-click="makePick('team1', finalsRight)">
                {{finalsRight.team1}}
              </div>
            </div>
          </div>
          <div class="slot">
            <div class="teams">
              <div class="team" ng-click="makePick('team2', finalsRight)">
                {{finalsRight.team2}}
              </div>
            </div>
          </div>  
        </div>
      </span>
    </div>  
  </div>

  <div class="side-right">
    
    <div class="region region-right">
      <span ng-repeat="round in bracket.west" ng-class="getRoundClass($index)">
        <div class="game" ng-repeat="game in round">
          <ab-render-game></ab-render-game>
        </div>
      </span>
    </div>
    
    <div class="region region-right">
      <span ng-repeat="round in bracket.midwest" ng-class="getRoundClass($index)">
        <div class="game" ng-repeat="game in round">
          <ab-render-game></ab-render-game>
        </div>
      </span>
    </div>

  </div>
</div>