<div ng-controller="BracketCtrl">
  <div class="side-left">
    
    <div class="region region-left">
      <span ng-repeat="round in bracket.south" ng-class="getRoundClass($index)">
        <div class="game" ng-repeat="game in round">
          <div class="slot">
            <span class="team" ng-click="advanceTeam(game.team1, game)">
              {{game.team1}}
            </span>
          </div>
          <div class="slot">
            <span class="team" ng-click="advanceTeam(game.team2, game)">
              {{game.team2}}
            </span>
          </div>  
        </div>
      </span>
    </div>
    
    <div class="region region-left">
      <span ng-repeat="round in bracket.east" ng-class="getRoundClass($index)">
        <div class="game" ng-repeat="game in round">
          <div class="slot">
            <span class="team" ng-click="advanceTeam(game.team1, game)">
              {{game.team1}}
            </span>
          </div>
          <div class="slot">
            <span class="team" ng-click="advanceTeam(game.team2, game)">
              {{game.team2}}
            </span>
          </div>  
        </div>
      </span>
    </div>
  
  </div>

  <div class="championship">
    <div class="champion">
      <h5>
        Champion
      </h5>
      1. Kansas
    </div>
    <div class="slot champion-left">
      1. Kansas
    </div>
    <div class="slot champion-right">
      1. Kansas
    </div>
    <div class="championship-filler">
      &nbsp;
    </div>
  </div>

  <div class="side-right">
    
    <div class="region region-right">
      <span ng-repeat="round in bracket.west" ng-class="getRoundClass($index)">
        <div class="game" ng-repeat="game in round">
          <div class="slot">
            <span class="team" ng-click="advanceTeam(game.team1, game)">
              {{game.team1}}
            </span>
          </div>
          <div class="slot">
            <span class="team" ng-click="advanceTeam(game.team2, game)">
              {{game.team2}}
            </span>
          </div>  
        </div>
      </span>
    </div>
    
    <div class="region region-right">
      <span ng-repeat="round in bracket.midwest" ng-class="getRoundClass($index)">
        <div class="game" ng-repeat="game in round">
          <div class="slot">
            <span class="team" ng-click="advanceTeam(game.team1, game)">
              {{game.team1}}
            </span>
          </div>
          <div class="slot">
            <span class="team" ng-click="advanceTeam(game.team2, game)">
              {{game.team2}}
            </span>
          </div>  
        </div>
      </span>
    </div>

  </div>
</div>