<div class="side-left">
 <div class="region region-left">
  <div class="round-64">
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas
      </span>
    </div>
  </div>
  <div class="round-32">
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
  </div>
  <div class="round-16">
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
  </div>
  <div class="round-8">
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
  </div>
  <div class="round-4">
    <div class="slot">
      1. Kansas
    </div>
  </div>
</div>

<div class="region region-left">
  <div class="round-64">
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
    <div class="slot">
      <span class="slot-inner">
        1. Kansas  
      </span>
    </div>
  </div>
  <div class="round-32">
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
  </div>
  <div class="round-16">
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
  </div>
  <div class="round-8">
    <div class="slot">
      1. Kansas
    </div>
    <div class="slot">
      1. Kansas
    </div>
  </div>
  <div class="round-4">
    <div class="slot">
      1. Kansas
    </div>
  </div>  
</div> 
</div>

<div class="championship">
  <div class="champion">
    <h5>
      Champion
    </h5>
    1. Kansas
  </div>
  <div class="slot champion-left">
    1. Kansas
  </div>
  <div class="slot champion-right">
    1. Kansas
  </div>
  <div class="championship-filler">
  &nbsp;
  </div>
</div>

<div class="side-right">
  <div class="region region-right">
    <div class="round-64">
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas
        </span>
      </div>
    </div>
    <div class="round-32">
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
    </div>
    <div class="round-16">
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
    </div>
    <div class="round-8">
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
    </div>
    <div class="round-4">
      <div class="slot">
        1. Kansas
      </div>
    </div>  
  </div>

  <div class="region region-right">
    <div class="round-64">
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
      <div class="slot">
        <span class="slot-inner">
          1. Kansas  
        </span>
      </div>
    </div>
    <div class="round-32">
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
    </div>
    <div class="round-16">
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
    </div>
    <div class="round-8">
      <div class="slot">
        1. Kansas
      </div>
      <div class="slot">
        1. Kansas
      </div>
    </div>
    <div class="round-4">
      <div class="slot">
        1. Kansas
      </div>
    </div>  
  </div>
</div>